.block__image{
    width: 473px;
    height: 369px;
    
}

@media screen and (max-width: 376px) { 
    .block__image {
        width: 341px;
        height: 220px;
        border-top-right-radius: 15px;
    }
}